    /* Estilos */
    body {
        /* Estilos para el cuerpo de la página */
        background-color: #FFCE44;
        /* Color de fondo */
        font-family: "Comic Sans MS", sans-serif;
        /* Fuente */
        text-align: center;
        /* Alinear contenido al centro */
    }

    h1 {
        /* Estilos para el elemento h1 */
        color: #8B0000;
        /* Color del texto */
        font-size: 32px;
        /* Tamaño de la fuente */
        margin: 20px 0;
        /* Margen superior y inferior */
    }

    .foto {
        /* Estilos para cada bloque de foto y descripción */
        display: inline-block;
        /* Mostrar como bloque en línea */
        text-align: left;
        /* Alinear descripción a la izquierda */
        width: 200px;
        /* Ancho del bloque */
        margin: 10px;
        /* Margen */
        float: left;
        /* Flotar bloques a la izquierda */
    }

    img {
        /* Estilos para las imágenes */
        width: 100%;
        /* Ancho del bloque */
        height: 200px;
        /* Alto */
        border-radius: 5px;
        /* Bordes redondeados */
        box-shadow: 0 0 5px #8B0000;
        /* Sombra */
        transition: transform 0.2s ease-in-out;
        /* Efecto de transición */
    }

    img:hover {
        /* Estilos al pasar el cursor por encima de las imágenes */
        transform: scale(1.1);
        /* Aumentar tamaño en un 10% */
    }

    p {
        /* Estilos para las descripciones */
        margin: 0;
        /* Quitar margen */
        padding: 10px;
        /* Espacio alrededor */
        background-color: #FFCE44;
        /* Color de fondo */
        color: #8B0000;
        /* Color del texto */
        font-size: 14px;
        /* Tamaño de la fuente */
    }

    .gif {
        position: left;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 100px;
    }

    button {
        /* Estilos del botón */
        display: inline-block;
        /* Mostrar como bloque en línea */
        background-color: #FFCE44;
        /* Color de fondo */
        color: #8B0000;
        /* Color del texto */
        padding: 10px 20px;
        /* Espacio alrededor del texto */
        border-radius: 5px;
        /* Bordes redondeados */
        text-decoration: none;
        /* Quitar subrayado */
        font-weight: bold;
        /* Negrita */
        font-family: "Comic Sans MS", sans-serif;
        /* Fuente */
        margin-top: 20px;
        /* Margen superior */
    }

    button:hover {
        /* Estilos al pasar el cursor por encima del botón */
        background-color: #FFA07A;
        /* Color de fondo */
    }

    .slider {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        text-align: center;
    }

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        /* Estilos para cada bloque de foto y descripción */
        display: inline-block;
        /* Mostrar como bloque en línea */
        text-align: left;
        /* Alinear descripción a la izquierda */
        width: 200px;
        /* Ancho del bloque */
        margin: 10px;
        /* Margen */
        float: left;
        /* Flotar bloques a la izquierda */
    }

    .slide img {
        width: 80%;
        height: auto;
    }

    .slide p {
        margin: 10px 0;
        /* Agregar margen superior y inferior */
    }

    /* Botones */
    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    .btn.prev {
        left: 30%;
        text-align: center;
        /* Estilos del botón */
        display: inline-block;
        /* Mostrar como bloque en línea */
        background-color: #FFCE44;
        /* Color de fondo */
        color: #8B0000;
        /* Color del texto */
        padding: 10px 20px;
        /* Espacio alrededor del texto */
        border-radius: 5px;
        /* Bordes redondeados */
        text-decoration: none;
        /* Quitar subrayado */
        font-weight: bold;
        /* Negrita */
        font-family: "Comic Sans MS", sans-serif;
        /* Fuente */
        margin-top: 20px;
        /* Margen superior */
    }

    .btn.next {
        right: 30%;
        text-align: center;
        /* Estilos del botón */
        display: inline-block;
        /* Mostrar como bloque en línea */
        background-color: #FFCE44;
        /* Color de fondo */
        color: #8B0000;
        /* Color del texto */
        padding: 10px 20px;
        /* Espacio alrededor del texto */
        border-radius: 5px;
        /* Bordes redondeados */
        text-decoration: none;
        /* Quitar subrayado */
        font-weight: bold;
        /* Negrita */
        font-family: "Comic Sans MS", sans-serif;
        /* Fuente */
        margin-top: 20px;
        /* Margen superior */


    }

    .btn.next:hover {
        background-color: #FFA07A;

    }

    
    .btn.prev:hover {
        background-color: #FFA07A;

    }